.nav {
    display: flex;
    justify-content: space-between;
}

.nav h1 {
    color: rgb(94, 6, 175);
    margin: 0;
    font-size: 40px;
}

.nav ul {
    display: inline-flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav li a {
    text-decoration: none;
    color: blueviolet;
}

.nav .nav-search {
    margin-top: 5px;
    flex: 1;
    display: flex;
    margin-left: 35px;
    margin-right: 35px;
}

.nav .nav-search input {
    flex: 1;
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 35px;
    border-right: 0px;
}
.nav .nav-search button {
    
    color: blueviolet;
    border: 1px solid blueviolet;
    height: 39px;
    border-left: 0px;
}
h1 a{
    color: blueviolet; 
    text-decoration: none;
}